{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h2>likes</h2>

    <form action="/personLikeProduct/add" method="post">
        <div class="mb-3">
            <label for="login" class="form-label">prson</label>
            <input type="text" class="form-control" id="person" name="login" data-person required>
            <input type="hidden" class="form-control" id="personId" name="personId" data-personId required>
        </div>
        <div class="mb-3">
            <label for="last name" class="form-label">product</label>
            <input type="text" class="form-control" id="product" name="name" data-product required>
            <input type="hidden" class="form-control" id="productId" name="productId" data-productId required>
        </div>
        <button type="submit" class="btn btn-primary">Like</button>
    </form>

    <hr>

    <div class="row align-items-start">
        <div class="col">

            {% if persons %}
                <input id="personsSearch" type="search" class="form-control rounded" placeholder="Search persons">
                <table class="table" id="products">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">person login</th>
                    </tr>
                    </thead>
                    <tbody id="person-table">
                    {% for person in persons %}
                        <tr>
                            <td>{{ person.id }} </td>
                            <td id="person-login">{{ person.login }} </td>
                            <td>
                                <a id="choose-person" href="#" class="btn btn-primary choose-person" person-id="{{person.id}}">choose</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No persons to display </p>
            {% endif %}
        </div>
        <div class="col">
            {% if products %}
                <input id="productsSearch" type="search" class="form-control rounded" placeholder="Search products">
                <table class="table" id="products">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">product name</th>
                    </tr>
                    </thead>
                    <tbody id="product-table">
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }} </td>
                            <td id="product-name">{{ product.name }} </td>
                            <td>
                                <a id="choose-product" href="#" class="btn btn-primary choose-product" product-id="{{product.id}}">choose</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No products to display</p>
            {% endif %}
        </div>
    </div>

    <script src="/js/like.js"> </script>

{% endblock %}



