{% extends 'base.html.twig' %}

{% block title %}
    Product Model
{% endblock %}

{% block body %}
    {% if msg is defined %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
    {% endif %}

    <form action="/product/{{ product.id }}/edit" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name" required value="{{ product.name }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">info</label>
            <input type="text" class="form-control" id="info" name="info" required value="{{ product.info }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Public date</label>
            <input type="date" class="form-control" id="publicDate" name="publicDate" required value="{{ product.publicdate|date("Y-m-d") }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock body %}

{% block javascripts %}

{% endblock %}