{% extends 'base.html.twig' %}

{% block title %}
    Person Model
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <form action="/person" method="post">
        <div class="mb-3">
            <label for="login" class="form-label">login</label>
            <input type="text" class="form-control" id="login" name="login" required>
        </div>
        <div class="mb-3">
            <label for="last name" class="form-label">last name</label>
            <input type="text" class="form-control" id="lName" name="lName" required>
        </div>
        <div class="mb-3">
            <label for="first name" class="form-label">first name</label>
            <input type="text" class="form-control" id="fName" name="fName" required>
        </div>
        <div class="mb-3">
            <select class="form-select" id="state" name="state">
                <option selected>Choose state</option>
                <option value=1>Active</option>
                <option value=2>Banned</option>
                <option value=3>Removed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>
    <select class="custom-select custom-select-sm mt-4 mb-4" onchange="location = this.value;">
        <option selected>Person filters</option>
        <option value="/person/">Persons from the most likes</option>
        <option value="/person/?sort=least-likes">Persons from the least likes</option>
        <option value="/person/?sort=state-active">Persons active</option>
        <option value="/person/?sort=state-banned">Persons banned</option>
        <option value="/person/?sort=state-removed">Persons removed</option>

    </select>
    <h2>Products</h2>
    {% if persons %}
        <table class="table" id="products">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">login</th>
                    <th scope="col">last name</th>
                    <th scope="col">fist name</th>
                    <th scope="col">state</th>
                    <th scope="col"><a href="/person/?sort=least-likes">likes</a></th>
                </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td scope="row">{{ person.id }} </td>
                    <td>{{ person.login }} </td>
                    <td>{{ person.lName }} </td>
                    <td>{{ person.fName }} </td>
                    <td>{{ person.state }} </td>
                    {% if person.likes %}
                    <td>{{ person.likes }} </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                    <td>
                        <a href="/person/{{ person.id }}/edit" class="btn btn-light">Edit</a>
                        <a href="/person/{{ person.id }}/delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No persons to display</p>
    {% endif %}

{% endblock body %}

{% block javascripts %}
{% endblock %}